[data-theme='polyc'] {
  --text-scaling: 1.0;
  --base-font-color: var(--color-surface-900);
  --base-font-color-dark: var(--color-surface-100);
  --base-font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
  --base-font-size: 16px;
  --base-line-height: inherit;
  --base-font-weight: normal;
  --base-font-style: normal;
  --base-letter-spacing: 0em;
  --heading-font-color: var(--color-secondary-950);
  --heading-font-color-dark: var(--color-secondary-50);
  --heading-font-family: 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
  --heading-font-weight: normal;
  --heading-font-style: normal;
  --heading-letter-spacing: inherit;
  --anchor-font-color: var(--color-primary-600);
  --anchor-font-color-dark: var(--color-primary-500);
  --anchor-font-family: inherit;
  --anchor-font-size: inherit;
  --anchor-line-height: inherit;
  --anchor-font-weight: inherit;
  --anchor-font-style: inherit;
  --anchor-letter-spacing: inherit;
  --anchor-text-decoration: none;
  --anchor-text-decoration-hover: underline;
  --anchor-text-decoration-active: none;
  --anchor-text-decoration-focus: none;
  --spacing: 0.25rem;
  --radius-base: 0.25rem;
  --radius-container: 0.375rem;
  --default-border-width: 1px;
  --default-divide-width: 1px;
  --default-ring-width: 1px;
  --body-background-color: var(--color-surface-50);
  --body-background-color-dark: var(--color-surface-950);
  --color-primary-50: oklch(90.24% 0.03 31.2deg);
  --color-primary-100: oklch(84% 0.04 30.9deg);
  --color-primary-200: oklch(77.68% 0.05 30.74deg);
  --color-primary-300: oklch(71.58% 0.06 31.97deg);
  --color-primary-400: oklch(65.1% 0.07 31.86deg);
  --color-primary-500: oklch(58.57% 0.08 31.91deg);
  --color-primary-600: oklch(54.66% 0.07 30.85deg);
  --color-primary-700: oklch(50.84% 0.07 32.11deg);
  --color-primary-800: oklch(46.91% 0.06 30.6deg);
  --color-primary-900: oklch(42.93% 0.06 32.15deg);
  --color-primary-950: oklch(38.68% 0.05 30.47deg);
  --color-primary-contrast-dark: var(--color-primary-950);
  --color-primary-contrast-light: var(--color-primary-50);
  --color-primary-contrast-50: var(--color-primary-contrast-dark);
  --color-primary-contrast-100: var(--color-primary-contrast-dark);
  --color-primary-contrast-200: var(--color-primary-contrast-dark);
  --color-primary-contrast-300: var(--color-primary-contrast-dark);
  --color-primary-contrast-400: var(--color-primary-contrast-dark);
  --color-primary-contrast-500: var(--color-primary-contrast-light);
  --color-primary-contrast-600: var(--color-primary-contrast-light);
  --color-primary-contrast-700: var(--color-primary-contrast-light);
  --color-primary-contrast-800: var(--color-primary-contrast-light);
  --color-primary-contrast-900: var(--color-primary-contrast-light);
  --color-primary-contrast-950: var(--color-primary-contrast-light);
  --color-secondary-50: oklch(91.48% 0.02 161.62deg);
  --color-secondary-100: oklch(85.81% 0.04 161.25deg);
  --color-secondary-200: oklch(80.4% 0.05 160.77deg);
  --color-secondary-300: oklch(74.63% 0.06 160.17deg);
  --color-secondary-400: oklch(69.16% 0.07 159.42deg);
  --color-secondary-500: oklch(63.35% 0.08 158.44deg);
  --color-secondary-600: oklch(58.8% 0.08 158.2deg);
  --color-secondary-700: oklch(53.9% 0.07 158.36deg);
  --color-secondary-800: oklch(49.18% 0.06 159.09deg);
  --color-secondary-900: oklch(44.05% 0.05 159.46deg);
  --color-secondary-950: oklch(39.04% 0.05 159.2deg);
  --color-secondary-contrast-dark: var(--color-secondary-950);
  --color-secondary-contrast-light: var(--color-secondary-50);
  --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
  --color-secondary-contrast-600: var(--color-secondary-contrast-light);
  --color-secondary-contrast-700: var(--color-secondary-contrast-light);
  --color-secondary-contrast-800: var(--color-secondary-contrast-light);
  --color-secondary-contrast-900: var(--color-secondary-contrast-light);
  --color-secondary-contrast-950: var(--color-secondary-contrast-light);
  --color-tertiary-50: oklch(95.82% 0.02 159deg);
  --color-tertiary-100: oklch(93.4% 0.03 159.49deg);
  --color-tertiary-200: oklch(90.78% 0.03 160.34deg);
  --color-tertiary-300: oklch(88.4% 0.04 157.93deg);
  --color-tertiary-400: oklch(85.77% 0.05 158.53deg);
  --color-tertiary-500: oklch(83.36% 0.06 158.42deg);
  --color-tertiary-600: oklch(77.89% 0.06 158.14deg);
  --color-tertiary-700: oklch(72.43% 0.06 158.31deg);
  --color-tertiary-800: oklch(66.53% 0.05 158.5deg);
  --color-tertiary-900: oklch(60.83% 0.05 158.72deg);
  --color-tertiary-950: oklch(54.9% 0.05 158.33deg);
  --color-tertiary-contrast-dark: var(--color-tertiary-950);
  --color-tertiary-contrast-light: var(--color-tertiary-50);
  --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
  --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
  --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
  --color-success-50: oklch(90.49% 0.09 164.13deg);
  --color-success-100: oklch(85.87% 0.11 165.51deg);
  --color-success-200: oklch(81.61% 0.12 165.57deg);
  --color-success-300: oklch(77.29% 0.13 165.81deg);
  --color-success-400: oklch(73.45% 0.14 164.36deg);
  --color-success-500: oklch(69.59% 0.15 162.47deg);
  --color-success-600: oklch(64.53% 0.14 162.88deg);
  --color-success-700: oklch(59.38% 0.13 163.38deg);
  --color-success-800: oklch(54.13% 0.11 164.62deg);
  --color-success-900: oklch(48.74% 0.1 165.57deg);
  --color-success-950: oklch(43.18% 0.09 166.91deg);
  --color-success-contrast-dark: var(--color-success-950);
  --color-success-contrast-light: var(--color-success-50);
  --color-success-contrast-50: var(--color-success-contrast-dark);
  --color-success-contrast-100: var(--color-success-contrast-dark);
  --color-success-contrast-200: var(--color-success-contrast-dark);
  --color-success-contrast-300: var(--color-success-contrast-dark);
  --color-success-contrast-400: var(--color-success-contrast-dark);
  --color-success-contrast-500: var(--color-success-contrast-dark);
  --color-success-contrast-600: var(--color-success-contrast-dark);
  --color-success-contrast-700: var(--color-success-contrast-light);
  --color-success-contrast-800: var(--color-success-contrast-light);
  --color-success-contrast-900: var(--color-success-contrast-light);
  --color-success-contrast-950: var(--color-success-contrast-light);
  --color-warning-50: oklch(92.43% 0.12 95.74deg);
  --color-warning-100: oklch(89.15% 0.13 90.89deg);
  --color-warning-200: oklch(85.84% 0.14 85.53deg);
  --color-warning-300: oklch(82.75% 0.15 81.16deg);
  --color-warning-400: oklch(79.69% 0.16 75.54deg);
  --color-warning-500: oklch(76.86% 0.16 70.07deg);
  --color-warning-600: oklch(71.59% 0.15 68.48deg);
  --color-warning-700: oklch(66.22% 0.15 66.63deg);
  --color-warning-800: oklch(60.88% 0.14 64.12deg);
  --color-warning-900: oklch(55.31% 0.13 61.58deg);
  --color-warning-950: oklch(49.61% 0.12 58.59deg);
  --color-warning-contrast-dark: var(--color-warning-950);
  --color-warning-contrast-light: var(--color-warning-50);
  --color-warning-contrast-50: var(--color-warning-contrast-dark);
  --color-warning-contrast-100: var(--color-warning-contrast-dark);
  --color-warning-contrast-200: var(--color-warning-contrast-dark);
  --color-warning-contrast-300: var(--color-warning-contrast-dark);
  --color-warning-contrast-400: var(--color-warning-contrast-dark);
  --color-warning-contrast-500: var(--color-warning-contrast-dark);
  --color-warning-contrast-600: var(--color-warning-contrast-dark);
  --color-warning-contrast-700: var(--color-warning-contrast-light);
  --color-warning-contrast-800: var(--color-warning-contrast-light);
  --color-warning-contrast-900: var(--color-warning-contrast-light);
  --color-warning-contrast-950: var(--color-warning-contrast-light);
  --color-error-50: oklch(87.7% 0.05 18.18deg);
  --color-error-100: oklch(81.36% 0.07 18.76deg);
  --color-error-200: oklch(75.31% 0.09 19.49deg);
  --color-error-300: oklch(69.22% 0.12 20.51deg);
  --color-error-400: oklch(63.58% 0.14 21.81deg);
  --color-error-500: oklch(58.21% 0.16 23.61deg);
  --color-error-600: oklch(54.33% 0.15 23.57deg);
  --color-error-700: oklch(50.38% 0.14 23.53deg);
  --color-error-800: oklch(46.19% 0.13 23.43deg);
  --color-error-900: oklch(42.06% 0.11 23.35deg);
  --color-error-950: oklch(37.84% 0.1 23.26deg);
  --color-error-contrast-dark: var(--color-error-950);
  --color-error-contrast-light: var(--color-error-50);
  --color-error-contrast-50: var(--color-error-contrast-dark);
  --color-error-contrast-100: var(--color-error-contrast-dark);
  --color-error-contrast-200: var(--color-error-contrast-dark);
  --color-error-contrast-300: var(--color-error-contrast-dark);
  --color-error-contrast-400: var(--color-error-contrast-dark);
  --color-error-contrast-500: var(--color-error-contrast-light);
  --color-error-contrast-600: var(--color-error-contrast-light);
  --color-error-contrast-700: var(--color-error-contrast-light);
  --color-error-contrast-800: var(--color-error-contrast-light);
  --color-error-contrast-900: var(--color-error-contrast-light);
  --color-error-contrast-950: var(--color-error-contrast-light);
  --color-surface-50: oklch(96.66% 0.02 106.65deg);
  --color-surface-100: oklch(90.34% 0.02 106.65deg);
  --color-surface-200: oklch(83.9% 0.02 106.65deg);
  --color-surface-300: oklch(77.34% 0.01 106.65deg);
  --color-surface-400: oklch(70.64% 0.01 106.66deg);
  --color-surface-500: oklch(63.77% 0.01 106.66deg);
  --color-surface-600: oklch(56.71% 0.01 106.66deg);
  --color-surface-700: oklch(49.42% 0.01 106.67deg);
  --color-surface-800: oklch(41.52% 0.01 106.6deg);
  --color-surface-900: oklch(33.57% 0.01 106.59deg);
  --color-surface-950: oklch(25.12% 0 106.58deg);
  --color-surface-contrast-dark: oklch(0% 0 none);
  --color-surface-contrast-light: oklch(100% 0 none);
  --color-surface-contrast-50: var(--color-surface-contrast-dark);
  --color-surface-contrast-100: var(--color-surface-contrast-dark);
  --color-surface-contrast-200: var(--color-surface-contrast-dark);
  --color-surface-contrast-300: var(--color-surface-contrast-dark);
  --color-surface-contrast-400: var(--color-surface-contrast-dark);
  --color-surface-contrast-500: var(--color-surface-contrast-dark);
  --color-surface-contrast-600: var(--color-surface-contrast-dark);
  --color-surface-contrast-700: var(--color-surface-contrast-light);
  --color-surface-contrast-800: var(--color-surface-contrast-light);
  --color-surface-contrast-900: var(--color-surface-contrast-light);
  --color-surface-contrast-950: var(--color-surface-contrast-light);
}